
.check_logo{
    
    

    padding-top: 100px;
}
.thankyou{
    text-align: center;
    color: #038D0E;
}
.msg{
    text-align: center;
    color:#6F10BA;
}
.back{
    text-align: center;
    color:#641E89;
}